<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="../public/loginSinup.css">
    

<body>
    <div class="loginSignup">
        <form method="get" id="loginForm">
            <div class="inputBoxes">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="submit" id="button" value="LOGIN">
        </form>
        <a href="./signup.html"><button>SIGNUP</button> </a>
        <span> If you are new User Signup on above Link </span>
    </div>
    <span id="error"> </span>
</body>
<script src="../public/login.js"></script>

</html>